.gpt3__features-container__features{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;

}

.gpt3__features-container__features-title{
    flex: 1;
    max-width: 100px;
    margin-right: 2rem;
    
    

}

.gpt3__features-container__features-title h1{
    font-family: var(--font-family);
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    letter-spacing: -0.04rem;
    font-weight: 800;
}

.gpt3__features-container__features-title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.gp3__features-container__fetures-text{
    flex: 2;
    max-width: 390px;
    display: flex;
}

.gp3__features-container__fetures-text p{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text);
}
@media screen and(max-width: 550px) {
    .gpt3__features-container__features-title h1{
        font-size: 14px;
        line-height: 22px;
    }

    .gpt3__features-container__features-title p{
        font-size: 12px;
        line-height: 20px;
    }

    .gpt3__features{
        margin: 1rem 0;
    }
    
}

@media (min-width: 280px) and (max-width: 320px) {
    .gpt3__features-container__features-title h1{ 
        font-size: 14px; 
    } 
    
    
}